/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
*{
  @font-face {
 font-family: 'b koodak';
 src: url('../fonts/BKoodakBold.eot');
 src: url('../fonts/BKoodakBold.eot?#') format('eot'), 
      url('../fonts/BKoodakBold.woff') format('woff'),
      url('../fonts/BKoodakBold.ttf') format('truetype'); 
font-family: 'b yekan';
 src: url('../fonts/BYekan.eot?#') format('eot'), 
     url('../fonts/BYekan.woff') format('woff'),  
    url('../fonts/BYekan.ttf') format('truetype');   

 }
 
} 
*{
  box-sizing: border-box;
}

body{
    margin: 0;
    padding:0 8px;
    font-family: 'b koodak';
    -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.fontEn{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
a{
  text-decoration: none;
}
.menuPage{
  margin: 5px 0;
  padding: 5px 15px;
  display: flex;
  background-color: #f4f4f4;
  align-items: center;
}
/* دکمه ها */
.menuPage a , .pageA{
  height: 30px;
  margin: 0 6px 0 0;
  padding: 4px 8px 6px;
  color: #000;
  background-color: #a5b3b6;
  border-radius: 3px;
}
.pageA{
  color: #495860;
  background-color: #dce2e3;

}
.menuPage a:hover ,.pageA:hover{
  background-color: #bbc5c7;
  color: #525252;
}
/* مربوط به لینک های تایتل درس ها */
.buttonA{
  width: fit-content;
  margin-bottom: 7px;
  background-color:none;
  color: #1c60b9;
  border: none;
  font-size: 16px;
  cursor: pointer;
 direction: rtl;

}
.buttonA:hover{
  color: #4084dd;

}
.buttonA:focus-visible{
  border: none;
  outline:none;
}
  /* مربوط به دکمه بالا برنده */
  .scrollToTop{
    position:fixed;
     margin-top:calc(100vh - 200px); 
    margin-left: 35px; 
    z-index: 200;
    display: none;
}
.scrollToTop a{

    padding:8px 10px;
    border-radius: 16px;
    background-color: silver;
    cursor: pointer;
}
.scrollToTop a:hover{
background-color: rgb(214, 212, 212);

}
/* نشان کردن قسمتی از درس که کاربر برچسب آن را انتخاب کرده */
.selectTitle{
  border-top: 4px solid #1c7497;

}
/* 
  مجموعه یک درس در صفحه خانه دروس
 */
.divLessons{
  margin: 35px 0 20px;
  display: flex;
  border: 1px solid rgb(153, 153, 153);
  flex-flow: column;
  border-radius: 5px;

}
/* تیتر کادرهای دسته بندی دروس */
.title{
  display: flex;
  justify-content: flex-end;
}
.titleH4{
  margin:-12px 8px 0 0;
  padding: 1px 15px 3px;
  display: flex;
  background-color: #5daacb;
  justify-content: flex-end;
  border-radius: 12px;
  color: #fff;

}

/* کادرهای دسته بندی دروس */
.body{
  padding: 5px 15px;
  display: flex;
  flex-wrap: wrap;
}
.body button{
  margin: 5px 2px;
}