.inputChar{
  border: none;
  width: 5px;
  height: 5px;
  position: fixed;
  left: 15px;
  top: 20px;
}
.allTypeSpell{
  position: relative;
  z-index: 5;
}
.typeSpellTranslateTitle{
    padding: 12px 0 17px;
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5daacb;
    color: #fff;
  }
  .TSTheader{
    width: 100%;
    height: 80px;
    margin: 5px 0;
    color: azure;
    background-color: #0f9bc5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  .TSTbodyType{
    /* width: 100%; */
    margin: 5px 0;
    padding: 20px 25px;
    background-color: #e9e9e9;
    display: flex;
    flex-flow: column;
  }
   .TSTmessageType{
    width: 100%;
    height: 30px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#c7eec6;
    color: #05051d;
    border-radius: 8px;
  } 
  .TSTstartType{
    width: 100%;
    height: 40px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#cacaca;
    border-radius: 2px;
  }
  .btnStartType{
    width: 40%;
    height: 30px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'b koodak';
    background-color: #3583a7;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .TsTContextType{
    width: 100%;
    margin: 8px 0;
    padding: 15px 45px;
    background-color: #f9faf8;
    /* position: relative; */
    font-size: 24px;
    /* z-index: 5; */


  }
  
  .type{
    /* width: 7px; 
    height: 22px; */
    /* display: inline-block; */
    /* display: inline-flex; */
   /* flex-wrap: nowrap; */
    border-left:#f9faf8 2px solid;
    font-family: sans-serif;
    color: #334a6d;
    /* line-height: 22px; */
  }
  /* ست کردن کلاس هنگام درست تایپ کردن حرف */
  .ok{color: #0d9ec2;}
  .not{color: rgb(184, 43, 43);}
  .lineBottom{
    
    border-bottom: #2689b8 3px solid;
   
    /* left: -2px; */
  }
  .lineLeft{
    border-left-color: #266ca6 ;
    /* border-left-width: 1.5px; */
  }
  .containerChar {
    /* width: 100px;
    height: 100px; */
    /* position: relative; */
    display: flex;

  }
  .chars,
  .errorChar {
    /* width: 100%; */
    /* height: 100%; */
    top: 0;
    left: 0;
    display: flex;
  }
  .errorChar {
    width: 30px;
    position: absolute;
    display: none;
    z-index: 10;
    background-color: #ee7171;
    color:#fff;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  /* spell and translate */
   .spellBody{
     width: 100%;
     margin: 45px 0;
     padding: 10px 5px;
     background-color: rgb(124, 124, 124);
     border-radius: 2px;
     display: flex;
     flex-flow:column ;
   }
   .spellRow ,.showMeanRow{
    margin: 15px 0 5px;
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(231, 231, 231);
    }
    .showMeanRow{
      min-height: 36px;
    margin: 3px 0 15px;

    padding: 0 20px;
      align-items: center;
    background-color: rgb(221, 219, 219);
    font-size: 16px;


    }
     .spellRow div ,.showMeanRow div{
    width: 20%;
    display: flex;
    justify-content: center;
    }
    .showMeanRow div{
      background-color: azure;
      border-radius: 4px;
    }
     .spellInput{
    display: flex;
    flex-flow: column;
    }
     .spellInput input{
    border: 1px solid #afafaf;
    border-radius: 2px;
    font-size: 18px;
    color: #1f1f6d;
    }
    .spellInput input:focus{
      outline: none !important;
      border-color: #576981;
    }
     .spellInput span{
    height: 20px;
    padding-left: 4px;
    font-size: 12px;
    color: #858585;
    }
     .spellRow div.spellMean{
      justify-content: flex-start;
      text-align: right;
      direction: rtl;
    }